
@model CourseWorkDO.Models.DataMatrix
@{
    ViewBag.Title = "CreateMatrixes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
    <div class="card m-5">
        <h3 class="card-header text-center">Жадібний розв'язок</h3>
        <div class="card-body">
            <form class="p-a-1" action="/UserProblem/GreedySolutionUser" method="post">
                <div class="form-group">
                    <h1>Матриця відстаней:</h1>
                    <table>
                        @for (int column = 0; column < Model.Distances.Length; column++)
                        {
                            <tr>
                                @for (int row = 0; row < Model.Distances[column].Length; row++)
                                {
                                    <td>@Html.EditorFor(x => Model.Distances[column][row])</td>
                                }
                            </tr>
                        }
                    </table>
                    <h1>Матриця потоків:</h1>
                    <table>
                        @for (int column = 0; column < Model.Flows.Length; column++)
                        {
                            <tr>
                                @for (int row = 0; row < Model.Flows[column].Length; row++)
                                {
                                    <td>@Html.EditorFor(x => Model.Flows[column][row])</td>
                                }
                            </tr>
                        }
                    </table>
                </div>
                <div class="text-center">
                    <button type="submit">Розв'язати</button>
                </div>
            </form>
        </div>
    </div>

@*@using (Html.BeginForm())
{
    <h1>Матриця відстаней:</h1>
    <table>
        @for (int column = 0; column < Model.Distances.Length; column++)
        {
            <tr>
                @for (int row = 0; row < Model.Distances[column].Length; row++)
                {
                    <td>@Html.EditorFor(x => Model.Distances[column][row])</td>
                }
            </tr>
        }
    </table>
    <h1>Матриця потоків:</h1>
    <table>
        @for (int column = 0; column < Model.Flows.Length; column++)
        {
            <tr>
                @for (int row = 0; row < Model.Flows[column].Length; row++)
                {
                    <td>@Html.EditorFor(x => Model.Flows[column][row])</td>
                }
            </tr>
        }
    </table>
    <div class="text-center">
        <button class="btn btn-outline-info btn-lg" type="submit">@Html.ActionLink("Жадібний алгоритм", "GreedySolutionUser", "UserProblem")</button>
        <button class="btn btn-outline-info btn-lg" type="submit">@Html.ActionLink("Метод вектора спаду", "SteepestSolutionUser", "UserProblem")</button>
    </div>    
}*@


